*.o
*.so
*.a
autom4te.cache
config.log
config.status
configure
configure~
install-sh
install-sh~
Makefile
fvwm/Makefile
fvwm/fvwm95
icons/Makefile
include/FVWMconfig.h
include/FVWMconfig.h.in
include/FVWMconfig.h.in~
libs/Makefile
mini-icons/Makefile
modules/FvwmAudio/FvwmAudio
modules/FvwmAudio/Makefile
modules/FvwmAuto/FvwmAuto
modules/FvwmAuto/Makefile
modules/FvwmBacker/FvwmBacker
modules/FvwmBacker/Makefile
modules/FvwmBanner/FvwmBanner
modules/FvwmBanner/Makefile
modules/FvwmButtons/FvwmButtons
modules/FvwmButtons/Makefile
modules/FvwmConsole/FvwmConsole
modules/FvwmConsole/FvwmConsoleC
modules/FvwmConsole/Makefile
modules/FvwmCpp/FvwmCpp
modules/FvwmCpp/Makefile
modules/FvwmDebug/FvwmDebug
modules/FvwmDebug/Makefile
modules/FvwmForm/FvwmForm
modules/FvwmForm/Makefile
modules/FvwmIconBox/FvwmIconBox
modules/FvwmIconBox/Makefile
modules/FvwmIconMan/FvwmIconMan
modules/FvwmIconMan/Makefile
modules/FvwmIdent/FvwmIdent
modules/FvwmIdent/Makefile
modules/FvwmM4/FvwmM4
modules/FvwmM4/Makefile
modules/FvwmPager/FvwmPager
modules/FvwmPager/Makefile
modules/FvwmSave/FvwmSave
modules/FvwmSave/Makefile
modules/FvwmSaveDesk/FvwmSaveDesk
modules/FvwmSaveDesk/Makefile
modules/FvwmScript/FvwmScript
modules/FvwmScript/Makefile
modules/FvwmScript/Scripts/Makefile
modules/FvwmScript/Scripts/some_nice_icons/Makefile
modules/FvwmScript/Widgets/Makefile
modules/FvwmScroll/FvwmScroll
modules/FvwmScroll/Makefile
modules/FvwmTalk/FvwmTalk
modules/FvwmTalk/Makefile
modules/FvwmTaskBar/FvwmTaskBar
modules/FvwmTaskBar/Makefile
modules/FvwmWharf/FvwmWharf
modules/FvwmWharf/Makefile
modules/FvwmWinList/FvwmWinList
modules/FvwmWinList/Makefile
modules/Makefile
sample.fvwmrc/Makefile
sample.fvwmrc/system.fvwm95rc
utils/Makefile
xpmroot/Makefile
xpmroot/xpmroot
